.container {
    display: flex;
    flex-direction: column;


    padding: 20px;
  }
  
  .item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .item:last-child {
    margin-bottom: 0;
  }
  
  .item:hover {
    background-color: #e0e0e0;
  }
  
  .icon {
    font-size: 1.5rem;
    margin-left: 10px;
    color: #4a4a4a;
  }
  
  .span2 {
    font-size: 1rem;
    color: #333;
    flex: 1;
    text-align: right;
  }
  