@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'IranSans';
  src: url('/fonts/IRANSansXFaNum-DemiBold.woff2') format('woff2'),
       url('/fonts/IRANSansXFaNum-DemiBold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}




:root {
  --background: #ffffff;
  --foreground: #171717;


  --coper: #c0937b;
  --brown: #4b2e1e;
  --dark-red: #8b3a3a;
  --white: #ffffff;
  --black: #000000;
  --dark-background: #0a0a0a;
  --light-red: #fde5db;
  --dark-green: #556b2f;
  --light-green: #e3f1c8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin-top: 50px;
  font-family: 'IranSans', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
