@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'IranSans';
  src: url('/fonts/IRANSansXFaNum-DemiBold.woff2') format('woff2'),
       url('/fonts/IRANSansXFaNum-DemiBold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'IranSans', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
