/* استایل‌های کلی صفحه */
.container {
  display: flex;
  flex-direction: column;  /* این قسمت را به صورت ستونی تنظیم می‌کنیم */
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  text-align: center;
  direction: rtl;
  flex-wrap: wrap;
  max-width: 1300px;  /* حداکثر عرض را 1300px تنظیم می‌کنیم */
  width: 100%; /* عرض کل صفحه 100% باشد تا در صفحات کوچکتر به خوبی نمایش داده شود */
  margin: 0 auto; /* مرکز چین شدن صفحه */
}

/* استایل‌های بخش main */
.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

/* استایل‌های بخش چپ */
.left {
  width: 100%;  
  padding: 10px;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* سه ستون مساوی */
  gap: 50px; /* فاصله بین کارت‌ها */
}


.titleRed {
  position: relative;
  font-size: 0.9rem;
  font-weight: bolder;
  padding-top: 20px;
  color: var(--dark-red);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
/* استایل‌های بخش footer */
.footer {
  width: 100%;
  background-color: lightcoral; /* برای نمایش بهتر */
  padding: 10px;
  margin-top: 20px;
}

/* تنظیمات برای حالت موبایل */
@media (max-width: 768px) {
  .main {
    flex-direction: column; /* در موبایل بخش‌ها باید در هر سطر نمایش داده شوند */
  }

  .right {
    width: 100%; /* در حالت موبایل عرض بخش راست 100% می‌شود */
  }

  .left {
    width: 100%; /* در حالت موبایل عرض بخش چپ 100% می‌شود */
  }
}
